@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-columns {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}

.react-daterange-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    border: none !important;
}